<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= render(:partial=>"backend/title_and_description") -%>
    
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="robots" content="noindex" />
    <link href="/favicon.ico?<%=(Time.now+1.month).to_i-%>" type='image/x-icon' rel='shortcut icon' />

    <% if protect_against_forgery? -%>
      <meta id="authenticity_token" name="authenticity_token" content="<%= form_authenticity_token -%>" />
    <% end -%>

    <%= render(:partial=>"backend/extjs3") -%>
    <%= render(:partial=>"backend/extjs3_extensions_and_overrides") -%>
    <%= render(:partial=>"backend/extjs3_essential_tool_components") -%>

    <%#= GMap.header({:host => request.host}) -%>

    <!-- Tool -->
    <%= stylesheet_link_tag(
      'backend/location_manager',
      :cache=>"#{GLOBAL_CONFIG[:cached_css_backend_path]}location_manager"
    ) -%>

    <%= javascript_include_tag(
      'backend/location_manager/',
      'backend/location_manager/state/',
      'backend/location_manager/city/',
      'backend/location_manager/zip_code/',
      'backend/location_manager/location/',
      'backend/location_manager/location_image/',
      :cache=>"#{GLOBAL_CONFIG[:cached_js_backend_path]}location_manager"
    ) -%>
    <%=
      update_page_tag do |page|
        standard_extjs_tool_constants(page)
        
        page.assign "BE.location_manager.location_image.NEW_IMAGE_STATE", @new_image_state
      end
    -%>
  </head>
  <body>
    <%#= yield -%>
  </body>
</html>