<% if frontend_user.errors[:base].any? -%>
  <%= infobox_error(frontend_user.errors[:base]) -%>
<% end -%>

<div class="form-entry<%= form_entry_error(frontend_user, :email) -%>">
  <%= f.label :email, FrontendUser.human_attribute_name(:email) -%>
  <%= f.text_field :email -%>
  <%= text_message_error(frontend_user.errors[:email]) -%>
</div>

<div class="form-entry<%= form_entry_error(frontend_user, :login) -%>">
  <%= f.label :login, FrontendUser.human_attribute_name(:login) -%>
  <%= f.text_field :login -%>
  <small>
    (öffentlich sichtbar, optional - bei Freibleiben wird die <%= FrontendUser.human_attribute_name(:email) -%> verwendet)
  </small>
  <%= text_message_error(frontend_user.errors[:login]) -%>
</div>

<div class="form-entry<%= form_entry_error(frontend_user, :password) -%>">
  <%= f.label :password, FrontendUser.human_attribute_name(:password) -%>
  <%= f.password_field :password -%>
  <%= text_message_error(frontend_user.errors[:password]) -%>
</div>

<div class="form-entry<%= form_entry_error(frontend_user, :password_confirmation) -%>">
  <%= f.label :password_confirmation, FrontendUser.human_attribute_name(:password_confirmation) -%>
  <%= f.password_field :password_confirmation -%>
  <%= text_message_error(frontend_user.errors[:password_confirmation]) -%>
</div>

<div class="form-entry<%= form_entry_error(frontend_user, :general_terms_and_conditions) -%>">
  <label><%= FrontendUser.human_attribute_name(:general_terms_and_conditions) -%></label>
  <div class="input-area">
    <%= f.check_box :general_terms_and_conditions, {:checked => false, :class => 'standard-checkbox left'} -%>
    <label>
      <%= FrontendUser.human_attribute_name(
           :_general_terms_and_conditions, {
             :general_terms_and_conditions => link_to(
               FrontendUser.human_attribute_name(:general_terms_and_conditions),
               general_terms_and_conditions_url, :target => :_blank
             ).html_safe
           }
         ).html_safe
      -%>
    </label>
  </div>
  <%= text_message_error(frontend_user.errors[:general_terms_and_conditions]) -%>
</div>

<div class="form-entry submit">
  <div class="label"></div>
  <div class="input-area">
    <%#= f.submit t('.register_button'), :class => 'primarybutton', :name => nil -%>
    <%= f.submit 'Anmelden', :class => :primarybutton, :name => nil -%>
  </div>
</div>