<div style="display:none;">
  <%= image_tag('loading.gif', :alt => nil) -%>
  <%= image_tag('frontend/fancybox/fancybox.png', :alt => nil) -%>
  <%= image_tag('frontend/fancybox/fancy_loading.png', :alt => nil) -%>
  <%= image_tag('/javascripts/frontend/show_loading/images/loading.gif', :alt => '') -%>
  <%#= image_tag('/javascripts/frontend/show_loading/images/loading-bars.gif', :alt => '') -%>
  <%= image_tag('/javascripts/frontend/show_loading/images/loading-small.gif', :alt => '') -%>
</div>