<% cache 'frontend_common_ct_footer' do -%>
  <ul>
    <li>
      <ul>
        <li><%= link_to t('.general_terms_and_conditions'), general_terms_and_conditions_url -%></li>
      </ul>
    </li>
    <li>
      <ul>
        <li><%= link_to t('.privacy_notice'), privacy_notice_url -%></li>
      </ul>
    </li>
    <li>
      <ul>
        <li><%= link_to t('.registration_information'), registration_information_url -%></li>
      </ul>
    </li>
    <li>
      <ul>
        <li><%= link_to t('.advertising_opportunities'), advertising_opportunities_url -%></li>
      </ul>
    </li>
    <li class="right">
      <ul>
        <li>
          Copyright 2011 - <%= Time.now.year -%> <%= @host_full_name -%>
        </li>
      </ul>
    </li>
  </ul>
<% end -%>