<h1 class="blockhead"><%= t('.headline') -%></h1>
<p class="textblock">
  Bitte vergeben Sie ein neues Passwort für Ihren Nutzeraccount bei <%= @host_name -%>.
</p>
<div class="user-authentication">
  <% form_for(@user, {:url => frontend_user_password_reset_request_url, :html => {:id => nil}}) do |f| -%>
    <%= hidden_field_tag :id, @user.perishable_token -%>

    <div class="form-entry<%= form_entry_error(@user, :password) -%>">
      <%= f.label(:password, FrontendUser.human_attribute_name(:password)) -%>
      <%= f.password_field(:password, {:value => ''}) -%>
      <%= text_message_error(@user.errors[:password]) -%>
    </div>

    <div class="form-entry<%= form_entry_error(@user, :password_confirmation) -%>">
      <%= f.label(:password_confirmation, FrontendUser.human_attribute_name(:password_confirmation)) -%>
      <%= f.password_field(:password_confirmation, {:value => ''}) -%>
      <%= text_message_error(@user.errors[:password_confirmation]) -%>
    </div>

    <% unless @password_blank.blank? -%>
      <div class="form-entry">
        <%= text_message_error(@password_blank) -%>
      </div>
    <% end -%>

    <div class="form-entry submit">
      <div class="label"></div>
      <div class="input-area">
        <%= submit_tag('Passwort ändern', {:class => 'primarybutton', :name => nil}) -%>
      </div>
    </div>
  <% end -%>
</div>